*.o
p2/*.o
p2-2/.pyenv
p2-2/__MACOSX
p2-2/gen-py/calculadora/__pycache__
p2-2/gen-rs/calculadora_compleja/target
p2-2/gen-nodejs/node_modules
p2-2/gen-py/calculadora_compleja/__pycache__
p3/ej1/ejemplo1/src/Cliente_Ejemplo.class
p3/ej1/ejemplo1/src/Ejemplo.class
p3/ej1/ejemplo1/src/Ejemplo_I.class
p2-2/gen-py/.pyenv
p4/node_modules
p4/package-lock.json
p4/agente/node_modules
p4/servidor/node_modules
